<h1>New book </h1>
<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to 'Place order', user_book_orders_path(@book), method: :post, class: "btn btn-primary" %>
  </div>
  <div>
    <h5>Title : <%= @book.title %></h4>
    <h5>Author : <%= @book.author%></h5>
    <h5>Amount : <%= @book.amount%></h5>
    <h5>Description</h5>  <%= @book.description%></p>
  </div>
  <h5>Image</h5> <%= image_tag(@book.picture, style: "width:100%" )%>
</div>
