<h1>New book </h1>
<div class="container">
<% if @book.published? %>
  <%= link_to "Unpublish", unpublish_admin_book_path(@book), method: :patch, class: 'btn btn-primary' %>
<% else %>
  <%= link_to "Publish", publish_admin_book_path(@book), method: :patch, class: 'btn btn-primary' %>
<% end %>
<h1>Title : <%= @book.title %></h1>
<h5>Author : <%= @book.author%></h5>
<p>Description : <%= @book.description%></p>
 Amount : <%= @book.amount%><br>
 Image : <%= image_tag(@book.picture, style: "width:100%" )%>
