<div class="container">
  <h2>List of all pending orders</h2>
  <table class="table">
   <thead>
    <tr>
      <th>Buyer</th>
      <th>Book</th>
      <th>Price</th>
      <th>Accept</th>
      <th>Reject</th>

    </tr>
   </thead>
   <tbody>
      <% @pending_orders.each do |pending_order| %>
      <tr>
        <td><%= pending_order.user.first_name %></td>
        <td><%= pending_order.book.title %></td>
        <td><%= pending_order.book.amount %></td>
        <td><%= link_to "Accept",  accepted_admin_order_path(pending_order), method: :patch, class: "btn btn-info " %></td>
        <td><%= link_to "Reject",  rejected_admin_order_path(pending_order),method: :patch, class: "btn btn-danger "%></td>
      </tr>
      <% end %>
  </tbody>
  </table>
</div>
